# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/strava-goals-ui-old

#### strava-goals-ui ####
# dependencies
/strava-goals-ui/node_modules
strava-goals-ui/.pnp
strava-goals-ui/.pnp.js

# testing
strava-goals-ui/coverage

# production
strava-goals-ui/build

# misc
strava-goals-ui/.DS_Store
strava-goals-ui/.env.local
strava-goals-ui/.env.development.local
strava-goals-ui/.env.test.local
strava-goals-ui/.env.production.local

strava-goals-ui/npm-debug.log*
strava-goals-ui/yarn-debug.log*
strava-goals-ui/yarn-error.log*

#### strava-goals-api ####
# dependencies
/strava-goals-api/node_modules
